@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
    Author: Todd Adcox Jr
    Date:  10-26-18 

   Filename:         pcg_paper.css
   Supporting Files: 

*/

/* sets the background color to brown that fades to green then back to brown */
html {
    background: linear-gradient(rgb(102, 62, 9), rgb(3, 78, 32), rgb(102, 62, 9));
}

/* vertically centering the page */
body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 960px;
    min-width: 640px;
    height: 100%;
    background-color: rgb(53, 98, 42);
}

/* displays the image inside the header as a block with a width of 100% */
header img {
    display: block;
    width: 100%;
}

/* clears the footer of any floating content, sets the background color to a green that fades to brown */
footer {
    clear: both;
    background: linear-gradient(rgb(3, 78, 32), rgb(102, 62, 9));
}

/* prevents container colapse for the footer,navs with a class of vertical navigation nested inside the footer are being floated to the left with a width of 22%,*/
footer::after {
    clear: both;
    content: "";
    display: table;
}

/* this is affecting the nav with the class of verticalNavigation that is a direct child of the footer to float left and have a width of 22% */
footer>nav.verticalNavigation {
    float: left;
    width: 22%
}

/* this is affecting the section element  that is  */
footer>section#contactInfo {
    float: left;
    width: 34%;
}

nav.vnav ul li {
    display: block;
    float: left;
    width: 25%;
}

footer nav ul li a:link,
footer nav ul li a:visited {
    color: black;
}